@using Microsoft.AspNetCore.Http
@using Azure.Core;
@using System;
@using System.Web;

<!DOCTYPE html>
<html lang="en">
@{
    string name = (string)ViewBag.name;
    name = name.Trim();

    string image = (string)ViewBag.image;
    
    List<string> guns = ViewBag.guns;
    
}
<body>
    <div class="gunDiv">
        <img class="gunImg" src="@image">
    </div>

    <div class="gunDiv">
        <input class="quizInput" autocomplete="off">
        <div class="quizResults">
        </div>
    </div>

    <div class="gunDiv" style="padding-top: 30px;">
        <button class="gunBtn" onclick="checkAnswer()">Submit</button>
    </div>
</body>
</html>

<script>

    var keywords = @Json.Serialize(guns)

    const results = document.querySelector(".quizResults")
    const inputBox = document.getElementsByClassName("quizInput")[0];

    inputBox.onkeyup = function () {
        let result = [];
        let input = inputBox.value;
        if (input.length) {
            result = keywords.filter((keyword) => {
               return keyword.toLowerCase().includes(input.toLowerCase());
            });
            console.log(result);
        }
        display(result);
    }

    function display(result) {
        const content = result.map((list) => {
            return "<li onclick=selectInput(this)>" + list + "</li>" 
        })

        results.innerHTML = "<ul>" + content.join('') + "</ul>"
    }

    function selectInput(list) {
        inputBox.value = list.innerHTML;
        results.innerHTML = '';
    }

</script>

<script>

    function refresh() {
        window.location.reload();
    }

    function checkAnswer() {
        var input = document.getElementsByClassName("quizInput")[0].value
        var button = document.getElementsByClassName("gunBtn")[0]

        if (input == "@name") {
            var corrPara = document.createElement('div');
            var corrTxt = document.createTextNode("Correct Name Given");
            corrPara.appendChild(corrTxt)
            corrPara.setAttribute("class", "correct")
            document.getElementsByTagName('body')[0].appendChild(corrPara);

            button.innerHTML = "Next"
            button.setAttribute("onclick", "refresh()");
        }

        else {
            var incorrDiv = document.createElement('div');
            var corrAnsDiv = document.createElement('div');
            var incorrTxt = document.createTextNode("Incorrect Name Given");
            var corrAns = document.createTextNode("Correct name is "+"@name");
            incorrDiv.appendChild(incorrTxt)
            corrAnsDiv.appendChild(corrAns)
            incorrDiv.setAttribute("class", "incorrect")
            corrAnsDiv.setAttribute("class", "incorrect")
            document.getElementsByTagName('body')[0].appendChild(incorrDiv);
            document.getElementsByTagName('body')[0].appendChild(corrAnsDiv);

            button.innerHTML = "Next"
            button.setAttribute("onclick", "refresh()");
        }

    }

</script>