@using Microsoft.AspNetCore.Http
@using Azure.Core;
@using System;
@using System.Web;

<!DOCTYPE html>
<html lang="en">
@{
    string name = (string)ViewBag.name;
    string image = (string)ViewBag.image;
}
<body>
    <div class="viewDiv">
        <img class="viewImg" src="@image">
        <h1 class="viewName">@name</h1>
        <button class="viewBtn" onclick="refresh()">Next</button>
    </div>
</body>
</html>

<script>

    function refresh() {
        window.location.reload()
    }

</script>