html {
  font-size: 14px;
}

@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

html {
  position: relative;
  min-height: 100%;
}

body {
    margin-bottom: 60px;
    background-color: #242423;
    color: white;
}

.logo {
    width: 8%;
}

.btn {
    background-color: #f2f2f2;
    border-radius: 5px;
    margin: 1%;
    font-size: 20px;    
}

.dd {
    background-color: #f2f2f2;
    border-radius: 5px;
    margin: 1%;
}

.gunImg {
    width: 350px;
    border-radius: 7px;
}

.gunBtn {
    background-color: #605A5A;
    border-radius: 12px;
    border-color: #6A6363;
    color: white;
    padding: 12px 38px;
    font-size: 24px;
}

.gunDiv {
    text-align: center;
    padding: 5px;
}

.viewName {
    padding: 2%;
}

.quizInput {
    border-radius: 6px;
    outline: none;
    width: 275px;
    height: 30px;
}

.correct{
    text-align:center;
    color: green;
    font-size: 22px;
}

.incorrect {
    text-align: center;
    color: red;
    font-size: 22px;
}